<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
<body class="hero-anime">	
  {{>navbar}}


  <!-- Team section -->
<div class="team">
 <div class="container">
    <h1 class="text-center">Our Team</h1>
  <div class="row">
   <div class="col-lg-3 col-md-3 col-sm-12 item">
    <img src="https://www.todayshospitalist.com/wp-content/uploads/2016/05/happyphysicianansweringpoll-.jpg" class="img-fluid" alt="team">
    <div class="des">
      Sara
     </div>
    <span class="text-muted">Manager</span>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-12 item">
    <img src="https://www.todayshospitalist.com/wp-content/uploads/2016/05/happyphysicianansweringpoll-.jpg" class="img-fluid" alt="team">
    <div class="des">
       Chris
     </div>
    <span class="text-muted">Full stack Developer</span>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-12 item">
    <img src="https://www.todayshospitalist.com/wp-content/uploads/2016/05/happyphysicianansweringpoll-.jpg" class="img-fluid" alt="team">
    <div class="des">
      Layla 
     </div>
    <span class="text-muted">Front End Developer</span>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-12 item">
    <img src="https://www.todayshospitalist.com/wp-content/uploads/2016/05/happyphysicianansweringpoll-.jpg" class="img-fluid" alt="team">
     <div class="des">
      J.Jirard
     </div>
    <span class="text-muted">Back End Developer</span>
   </div>
  </div>
 </div>
</div>




               <!-- =================> This Is footer parth =======================> -->
                          {{>footer}}
    </body>
</body>
</html>