<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
<body class="hero-anime">	
  {{>navbar}}




               <!-- =================> This Is footer parth =======================> -->
                          {{>footer}}
    </body>
</body>
</html>