<div class="navigation-wrap bg-light start-header start-style">
<div class="container">
<div class="row">
<div class="col-12">
<nav class="navbar navbar-expand-md navbar-light">

    <!-- <a class="navbar-brand" href="https://themeforest.net/user/ig_design/portfolio" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/logo.svg" alt=""></a>	 -->
    <a class="navbar-brand" href="" class="tech">Technologiate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{!-- <div class="section mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="switch">
                    <div id="circle"></div>
                </div>
            </div>	
        </div>		
    </div>			
</div> 
     --}}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto py-4 py-md-0">
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="/">Home</a>
            </li>
             <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 ">
                <a class="nav-link" href="/about">About Us</a>
            </li> 
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="/secret">Secret</a>
            </li>
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="/service">Services</a>
            </li>
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="/registration">Registration</a>
            </li>
            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="/login">Login</a>
            </li>
             <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                <a class="nav-link" href="/logout">logout</a>
            </li>

                </ul>
            </div>
            
        </nav>		
    </div>
</div>
</div>
</div>

<!-- 
        <div class="section full-height">
            <div class="absolute-center">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12"> -->
                    <!-- <h1><span>T</span><span>e</span><span>c</span><span>h</span><span>n</span><span>o</span><span>l</span><span>o</span><span>g</span> <span>i</span><br>
                    <span>a</span><span>t</span><span>e</span></h1>
                    
                    <p>scroll  animation</p>	 -->
                            <!-- </div>	
                        </div>		
                    </div>		
                </div> -->
                <!-- <div class="section mt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div id="switch">
                                    <div id="circle"></div>
                                </div>
                            </div>	
                        </div>		
                    </div>			
                </div> -->
            <!-- </div>
        </div>
        <div class="my-5 py-5">
        </div> -->
      
          <!-- ==========================> naver carousole parth =======================> -->



    <!-- <h1>Css Only Carousel</h1> -->
    <!-- Css Carousel-->
    <div class="carrousel">
    <!-- <h2>Title</h2>						 -->
    <input type="radio" name="slides" id="radio-1" checked>
    <input type="radio" name="slides" id="radio-2">
    <input type="radio" name="slides" id="radio-3">
    <input type="radio" name="slides" id="radio-4">
    <ul class="slides">
        <li class="slide">
    <p>
    <q>It was a pleasure to work with him</q> 
    <span class="author">
    <img src="https://image.shutterstock.com/image-photo/portrait-male-doctor-standing-stethoscope-260nw-315034481.jpg">

    Masud Alam
    </span>
    </p>
    </li>        
    <li class="slide">
    <p>
    <q>He is a good friend of mine</q> 
    <span class="author">
        <img src="https://st2.depositphotos.com/1005893/5711/i/600/depositphotos_57117135-stock-photo-indian-doctor.jpg">
        Ajit Sarkar
    </span>
    </p>
    </li>
    <li class="slide">
    <p>
    <q>This is pretty cool</q> 
    <span class="author">
    <img src="https://media.istockphoto.com/photos/portrait-of-serious-handsome-male-doctor-with-crossed-hands-on-gray-picture-id802407384?k=20&m=802407384&s=612x612&w=0&h=SWczsZbZqpdS2J_s5C_GMgwNqsv1GYqKJJajheQGpbg=">
    Alf
    </span>
    </p>
    </li>
    <li class="slide">
    <p>
    <q>This is awesome. Only Css you say?</q> 
    <span class="author">
    <img src="https://png.pngitem.com/pimgs/s/194-1943739_indian-doctor-hd-png-download.png">
    The octocat
    </span>
    </p>
    </li>
    </ul>
    <div class="slidesNavigation">
    <label for="radio-1" id="dotForRadio-1"></label>
    <label for="radio-2" id="dotForRadio-2"></label>
    <label for="radio-3" id="dotForRadio-3"></label>
    <label for="radio-4" id="dotForRadio-4"></label>
    </div>
    </div>		


